@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f3f4f6; /* light theme*/
  /* background-color: #171717; */ /* dark theme*/
}

.image_profile{
    /* border-radius: 10%; */
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  .ql-editor {
    padding: 0px !important; /* Quitar todo el padding */
  }

  @media (min-width: 640px) {
    .ql-editor {
      padding: 10px !important; 
    }
  }
  .ql-editor h1 {
    @apply text-4xl font-bold text-gray-900 my-4; /* Títulos grandes */
  }
  
  .ql-editor h2 {
    @apply text-3xl font-semibold text-gray-800 my-3; /* Subtítulos */
  }
  
  .ql-editor h3 {
    @apply text-2xl font-semibold text-gray-700 my-3; /* Encabezado de nivel 3 */
  }
  
  .ql-editor h4 {
    @apply text-xl font-medium text-gray-600 my-2; /* Encabezado de nivel 4 */
  }
  
  .ql-editor h5 {
    @apply text-lg font-medium text-gray-500 my-2; /* Encabezado de nivel 5 */
  }
  
  .ql-editor h6 {
    @apply text-base font-medium text-gray-400 my-1; /* Encabezado de nivel 6 */
  }
  
  /* Estilos personalizados para enlaces */
  .ql-editor a {
    @apply text-blue-500 underline hover:text-blue-700; /* Enlaces con hover */
  }
  
  /* Estilos personalizados para videos */
  .ql-editor iframe {
    @apply w-full h-[20rem] my-4; /* Tamaño responsivo para videos */
  }
  
  .ql-editor a {
    @apply text-blue-500 underline hover:text-blue-700; /* Estilo personalizado para enlaces */
  }

  /*serach*/
  .searchBox {
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  color : white;
}

.searchButton {
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }
}